<h1 mat-dialog-title>Change your task</h1>
<mat-label>Task: </mat-label>
<textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          [(ngModel)]="data.taskText">
</textarea>

<mat-label>Task details: </mat-label>
<textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          [(ngModel)]="data.taskDetails">
  </textarea>

<app-option-list (change)="writeStatus($event)"></app-option-list>
<app-date-picker (change)="getDeadline($event)"></app-date-picker>

<div mat-dialog-actions>
  <button mat-button
          mat-dialog-close
          (click)="close()"
          color="accent">
    Cancel
  </button>

  <button mat-button
          mat-dialog-close
          (keydown.enter)="save()"
          (click)="save()"
          color="primary">
    Save
  </button>
</div>
