<div class="inputForm center">
  <h1>Tasks Tracker</h1>
  <div class="d-flex" (keydown.enter)="addTask()">
    <mat-form-field class="taskNameInput" appearance="fill">
      <mat-label>Tasks</mat-label>
      <input [(ngModel)] ="taskInput" matInput (keydown.enter)="addTask()">
    </mat-form-field>

    <app-option-list (change)="writeStatus($event)"></app-option-list>

    <button id="addBtn" mat-flat-button color="accent" (click)="addTask()">Add Task</button>
  </div>

  <div>
    <mat-selection-list [multiple]="false">
      <mat-list-option  id="option" *ngFor="let task of taskItems; let i = index;" [value]="task">
        <div class="d-flex">
        <div class="taskText">
          {{taskItems[i].taskText}}
        </div>

          <div class="status" [class]="taskItems[i].taskStatus">
            {{taskItems[i].taskStatus}}
          </div>

          <div class="detail-options">
            <mat-icon id="edit"
                      color="accent"
                      (click)="openEditDialog(i)">
              edit</mat-icon>
            <mat-icon color="warn"
                      id="delete"
                      (click)="openDeleteDialog(i)">
              remove_circle
            </mat-icon>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>




