<div class="center">
<div class="d-flex" cdkDropListGroup>
  <div class="task-container toDoContainer">
    <h2>To do</h2>

    <div
      class="task-list"
      cdkDropList
      (cdkDropListDropped)="drop($event)">

      <ng-container *ngFor="let task of tasksToDo">
        <div class="example-box"
             cdkDrag>
          {{task.taskText}}

          <app-delete-button (click)="openDeleteDialog(task)"></app-delete-button>
          <app-edit-button (click)="openEditDialog(task)"></app-edit-button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="task-container inProgressContainer">
    <h2>In Progress</h2>

    <div
      class="task-list"
      cdkDropList
      (cdkDropListDropped)="drop($event)">

      <ng-container *ngFor="let task of tasksInProgress">
        <div class="example-box"
             cdkDrag>
          {{task.taskText}}

          <app-delete-button (click)="openDeleteDialog(task)"></app-delete-button>
          <app-edit-button (click)="openEditDialog(task)"></app-edit-button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="task-container finishedContainer">
    <h2>Finished</h2>
    <div
      class="task-list"
      cdkDropList
      (cdkDropListDropped)="drop($event)">

      <ng-container *ngFor="let task of finishedTasks">
        <div class="example-box"
             cdkDrag>
          {{task.taskText}}

          <app-delete-button (click)="openDeleteDialog(task)"></app-delete-button>
          <app-edit-button (click)="openEditDialog(task)"></app-edit-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
</div>
