<div class="center">
<div class="d-flex" cdkDropListGroup>
  <div class="task-container toDoContainer">
    <h2>To do</h2>

    <div
      class="task-list"
      cdkDropList
      [cdkDropListData]="tasksToDo"
      (cdkDropListDropped)="drop($event, 'To Do')">

        <div *ngFor="let task of tasksToDo"
             class="example-box"
             cdkDrag>
          {{task.taskText}}

          <app-delete-button (click)="openDeleteDialog(task)"></app-delete-button>
          <app-edit-button (click)="openEditDialog(task)"></app-edit-button>
        </div>
    </div>
  </div>

  <div class="task-container inProgressContainer">
    <h2>In Progress</h2>

    <div
      class="task-list"
      cdkDropList
      [cdkDropListData]="tasksInProgress"
      (cdkDropListDropped)="drop($event, 'In Progress')">

        <div *ngFor="let task of tasksInProgress"
             class="example-box"
             cdkDrag>
          {{task.taskText}}

          <app-delete-button (click)="openDeleteDialog(task)"></app-delete-button>
          <app-edit-button (click)="openEditDialog(task)"></app-edit-button>
        </div>
    </div>
  </div>

  <div class="task-container finishedContainer">
    <h2>Finished</h2>
    <div
      class="task-list"
      cdkDropList
      [cdkDropListData]="finishedTasks"
      (cdkDropListDropped)="drop($event, 'Finished')">

        <div *ngFor="let task of finishedTasks"
             class="example-box"
             cdkDrag>
          {{task.taskText}}

          <app-delete-button (click)="openDeleteDialog(task)"></app-delete-button>
          <app-edit-button (click)="openEditDialog(task)"></app-edit-button>
        </div>
    </div>
  </div>
</div>
</div>
