@media screen and (max-width: 630px) {
  .d-flex
  {
    display: flex;
    flex-direction: column;
  }

  .d-flex > mat-form-field {
    margin-bottom: 0.7em;
  }

  .d-flex > button {
    margin-top: 0.7em;
    width: 100%;
  }

  .taskNameInput{
    width: 100%;
  }

  .taskDetailsInput{
    width: 100%;
  }

  /*TODO: 100%*/
  .statusSelect, app-date-picker{
    width: 100%;
  }
}
