@media screen and (max-width: 630px) {
  .d-flex
  {
    display: flex;
    flex-direction: column;
  }

  .d-flex > button {
    margin-top: 0.7em;
    width: 100%;
  }

  .taskNameInput,
  .taskDetailsInput{
    width: 100%;
  }

  app-option-list, app-date-picker{
    width: 100%;
  }

  app-date-picker{
    margin-top: 1.5em;
  }
}
